<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @ViewBag.navgation
    My Contact info
    @ViewBag.newclock
    <form action="method" method="post">
        <ul> Name
            <li> <input type="text" name="name"></li>
            Number
            <li><input type="text" name="number"</li>
            <li></li>
            <button type="submit" class="btn btn-primary">Submit</button>
        </ul>
    </form>
</body>
</html>