<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello Night</h1>
    <H4>@ViewBag.Example</H4>
    <h4>@ViewBag.clock  </h4>
    <H4>@ViewBag.Name</H4>
    <H4>@ViewBag.Num</H4>
    
</body>
</html>